*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
.clock{
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    background: rgba(217, 217, 217, 0.06);
    margin: 20px 0px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .mainbd {
      background-color: #05112e;
  }
  .clock-canvas {
    background-color: #05112e;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  }
  .clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .val{
      color: #E83363;
      font-family: Barlow;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: -5px;
      line-height: normal;
  }
  .type-time{
      color: #FFF;
      font-family: Barlow;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

/* .newtime{
    background: rgba(217, 217, 217, 0.06);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    

}
.time3{
    margin: 20px 0px;

}
.t2 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #05112e;
    border: 5px solid #E83363 ;
    background-image: url(bg-texture.png);
    fill: rgba(217, 217, 217, 0.06);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 3%;
    border-radius: 50%;
}
.t2 h1{
    color: #E83363;
    font-family: Barlow;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -5px;
    line-height: normal;
}
.t2 h2{
    color: #FFF;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   } */
.input-group.success input{
    border-bottom: 2px solid rgb(10, 212, 10);
}
.input-group.error1 input{
    border-bottom: 2px solid rgb(255, 0, 0);
    animation: shake 0.6s;
}

.bd1{
    background-color: #05112e;
    background-image: url(bg-texture.png);
} .cseLogo img{
    width: 333px;
}
section{
    background-color: hsla(0,0%,94%,.06);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    padding: 20px;
    margin: 20px 0px;
    transition: all 1s;
    /* overflow: hidden; */
}
#form{
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Regi{
    display: none;
    transition: all 1s;
}
#success{
    display: none;
}
.errorMessage , #dupTid {
    animation: shake 0.6s;
    color: #ff1515;
    display: none;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
section input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid#cccccc;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
section input[type="radio"]:checked {
    background-color: #e83363;
  }
section input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #cccccc;
    border-radius: 4px;
    margin-right: 10px;
}
 section input[type="checkbox"]:checked {
    background-color: #e83363;
  } 

.Tinput input ,#TransactionId{
    border: 0;
    padding: 5px;
    height: 50px;
    width: 300px;
    border-bottom: 2px solid #e83363;
    background-color: #ffffff09;
    color: white;
    outline: none;
}
.Tinput label , #lab{
    color: #e83363;
    font-size: medium;
    font-size: large;
    font-family: 'barlow';  
    font-weight: 700;
}
#btnsub,#btnnext{
    border: 0;
    border-radius: 20px;
    color: #fff;
    padding: 10px 50px;
    font-weight: bolder;
    background-color: #e83363;
}
.loadiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading{
    display: none;
}
.loginMain{
    min-height: 100vh;
}
.pay img{
    border-radius: 20px;
}
input[type="file"] {
    display: none;
  }

  .custom-file-input {
    display: inline-block;
    padding: 8px 20px;
    background-color: #e83363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-file-input-label {
    display: inline-block;
    padding: 6px 18px;
    background-color: #e83363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
#previewImage{
    border-radius: 0;
}
.tXtform{
    width: 100%;
    /* display: none; */
}
.payMent{
    display: none;
}

nav p{
    color: #fff;
    font-family: 'barlow';     
    font-size: 25px;
    font-weight: 200;
}
nav{
    background-color: rgba(227,228,233,.16);
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
    z-index: 100;
    color: #cce3de;
    position: sticky;
    top: 0px;
    height: 80px;
    backdrop-filter: blur(10px);
    
}
.home_inside h3 , p , section h2 , label , input{
    color: #949aad;
    font-family: 'barlow';
    font-weight: bold;
}
.home_inside h5{
    font-weight: normal;
    line-height: 110%;
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}
.home_inside b{
    color: #e83363;
    font-family: 'Fasthand', cursive;
    font-weight: 400;
    font-size: clamp(2.25rem,1.942rem + 1.315vw,3.125rem);
}
.home_inside button {
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #e83363;
}

.time1 h3{
    color: #e83363;
    font-family: 'barlow';
}
.time2  {
    background-color: hsla(0,0%,94%,.06);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    height: 100px;
    display: flex;
    
}
.time2  h1 span{
    color: #e83363;
    font-family: 'barlow';
}
.proE,.rules{
    color: #fff;
}
.proE .Rcard {
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s;
}

.proE .Rcard:hover {
    height: 350px;
}
.Rcard h5{
    font-weight: bold;
}

.proE .card{
    min-height: 100%;
    max-height: 100%;
    padding: 10px;
    border-radius: 1.2rem;
    background: #f0f0f00f;
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
    color: #949aad;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}
.card-body h5,.TechCon b {
    color: #e83363;
}
.inner img{
    width: 350px;
    padding: 30px;
}
.TechCon{
    padding: 1rem;
    border-radius: 1.2rem;
    background: hsla(0,0%,94%,.06);
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
    line-height: 140%;
    color: #949aad;
    letter-spacing: .02em;
    text-align: justify;
    font-weight: 500;
}
.TechCon hr{
    color: #fff;
    border: 1px solid #bebebe;
}

.card hr {
    background-color: #ffffff;
    height: 1px;  
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: 100%;
    padding: 10px;
}
footer p{
    font-weight: normal;
}
footer hr{
    background-color: #5c5c5c;
    height: 0.1px;
    width: 200px;
}
.watermark{
    padding: 5px;
    background-color: #05112e;
    display: flex;
    align-items: center;
}
@media (max-width : 900px){
    
    .clock{
        border-radius: 1rem;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
        background: rgba(217, 217, 217, 0.06);
        margin: 20px -10px;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
      .mainbd {
          background-color: #05112e;
      }
      .clock-canvas {
        background-color: #05112e;
        background-image: url(bg-texture.png);
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      }
      .clock-item .inner {
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
      }
      .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
        position: absolute;
        top: 80%;
        width: 100%;
      }
      .val{
          color: #E83363;
          font-family: Barlow;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          margin-bottom: -5px;
          line-height: normal;
      }
      .type-time{
          color: #FFF;
          font-family: Barlow;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

    .cseLogo img{
        width: 150px;
        margin-bottom: 80px;
    }
    .Tinput input{
        width: 100%;
    }
    .time1{
        padding: 10px;
    }
    .time1 h3{
        color: #e83363;
        font-family: 'barlow';
    }
    .time2  {
        background-color: hsla(0,0%,94%,.06);
        color: #fff;
        border-radius: 1rem;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
        height: 100px;
        
    }
    .time2  h1{
        font-size: 27px;
    }
    .time2  h1 span{
        color: #e83363;
        font-family: 'barlow';
    }
    .proE .card{
        min-height: 100%;
        max-height: 100%;
        padding: 10px 20px;
        border-radius: 1.2rem;
        background: hsla(0,0%,94%,.06);
        -webkit-backdrop-filter: blur(140px);
        backdrop-filter: blur(140px);
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
        font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
        line-height: 140%;
        color: #949aad;
        letter-spacing: .02em;
        text-align: justify;
        font-weight: 500;
    }


}
