*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.bd1{
    background-color: #05112e;
    background-image: url(bg-texture.png);
}
.otpV{
    display: none;
}
.loginsucc, .Regisucc{
    display: none;
}
.loginsucc-style{
    height: 100%;
}
.unavaliable{
    width: 100%;
    height: 100px;
    background-color: #2e0000dc;
    position: fixed;
    top: 40%;
    z-index: 100;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.newUserD{
    display: none;
}
.NewUser{
    width: 100%;
    height: 100dvh;
    background-color: #162f6931;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
    z-index: 90;
    position: fixed;
    top: 0px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginsucc,.loadiv,.loadiv2,.Regisucc{
    height: 100%;
}
.logIn,.RegeIn{
    width: 350px;
    height: 400px;
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    background: #2A344D;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    border-radius: 20px;
    padding: 25px;
}
.logIn1 ,#regiIn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mailIn {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e83363;
}
.logIn1 input{
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;

}
.logIn1 a{
    color: #E83363;
    text-decoration: underline;
}
.logIn1 button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px ;
    background-color: #e83363;
    color: #fff;
    font-weight: bold;
}

.NewUser {
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logIn,
.RegeIn {

    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.RegeIn {
    transform: rotateY(180deg);
}

.login-flip {
    transform: rotateY(-180deg);
}

.register-flip {
    transform: rotateY(0deg);
}



/* clock css start */
.time1 h3{
    color: #e83363;
    font-family: 'barlow';
}
.clock{
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    background: rgba(217, 217, 217, 0.06);
    margin: 20px 0px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .mainbd {
      background-color: #05112e;
  }
  .clock-canvas {
    background-color: #05112e;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  }
  .clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .val{
      color: #E83363;
      font-family: Barlow;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: -5px;
      line-height: normal;
  }
  .type-time{
      color: #FFF;
      font-family: Barlow;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
/* clock css end */

/* Form css start */
.input-group.success input{
    border-bottom: 2px solid rgb(10, 212, 10);
}
.input-group.error1 input{
    border-bottom: 2px solid rgb(255, 0, 0);
    animation: shake 0.6s;
}

.container section{
    background-color: hsla(0,0%,94%,.06);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    padding: 20px;
    margin: 20px 0px;
    transition: all 1s;
}
#form{
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Regi {
    display: none;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
#success{
    display: none;
}
.errorMessage , #dupTid ,.newUerr , .newUerrR{
    animation: shake 0.6s;
    color: #ff1515;
    display: none;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
.container section input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid#cccccc;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
.container section input[type="radio"]:checked {
    background-color: #e83363;
  }
.container section input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #cccccc;
    border-radius: 4px;
    margin-right: 10px;
}
.container section input[type="checkbox"]:checked {
    background-color: #e83363;
  } 


.Tinput input ,#TransactionId{
    border: 0;
    padding: 5px;
    height: 50px;
    width: 300px;
    border-bottom: 2px solid #e83363;
    background-color: #ffffff09;
    color: white;
    outline: none;
}
.Tinput label , #lab{
    color: #e83363;
    font-size: medium;
    font-size: large;
    font-family: 'barlow';  
    font-weight: 700;
}
#btnsub,#btnnext{
    border: 0;
    border-radius: 20px;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #e83363;
}
.loadiv,.loadiv2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading1,#loading,#loading2{
    display: none;
}
.loginMain{
    min-height: 100vh;
}
.pay img{
    border-radius: 20px;
}
input[type="file"] {
    display: none;
  }

  .custom-file-input {
    display: inline-block;
    padding: 8px 20px;
    background-color: #e83363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-file-input-label {
    display: inline-block;
    padding: 6px 18px;
    background-color: #e83363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
#previewImage{
    border-radius: 0;
}
.tXtform{
    width: 100%;
}
.payMent{
    display: none;
}

/* Form css end */

/* Nav css start */
nav p{
    color: #fff;
    font-family: 'barlow';     
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
}
nav{
    background-color: #e3e4e929;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
    z-index: 100;
    color: #cce3de;
    position: sticky;
    top: 0px;
    height: 80px;
    backdrop-filter: blur(10px);
    
}
/* Nav css end */

/* Landing Page css start */
.home_inside h3 , p , section h2 , label , input{
    color: #949aad;
    font-family: 'barlow';
    font-weight: bold;
}
.home_inside h5{
    font-weight: normal;
    line-height: 110%;
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}
.home_inside b{
    color: #e83363;
    font-family: 'Fasthand', cursive;
    font-weight: 400;
    font-size: clamp(2.25rem,1.942rem + 1.315vw,3.125rem);
}
.home_inside button {
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #e83363;
}
.home_inside button a{
    font-weight: bolder;
}

/* Landing Page css end */

/* Event card css start */

.proE,.rules{
    color: #fff;
}
.proE .Rcard {
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s;
}

.proE .Rcard:hover {
    height: 350px;
}
.Rcard h5{
    font-weight: bold;
}

.proE .card{
    min-height: 100%;
    max-height: 100%;
    padding: 10px;
    border-radius: 1.2rem;
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    background: #f0f0f00f;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
    color: #949aad;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}
.card-body h5,.TechCon b {
    color: #e83363;
}
.inner img{
    width: 350px;
    padding: 30px;
}

/* Event card css end */

/* Technical Issues Contact css start */

.TechCon{
    padding: 1rem;
    border-radius: 1.2rem;
    background: hsla(0,0%,94%,.06);
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
    font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
    line-height: 140%;
    color: #949aad;
    letter-spacing: .02em;
    text-align: justify;
    font-weight: 500;
}
.TechCon hr{
    color: #fff;
    border: 1px solid #bebebe;
}

.card hr {
    background-color: #ffffff;
    height: 1px;  
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Technical Issues Contact css end */

/* footer css start */

footer {
    width: 100%;
    padding: 10px;
}
footer p{
    font-weight: normal;
}
footer hr{
    background-color: #5c5c5c;
    height: 0.1px;
    width: 200px;
}
.watermark{
    padding: 5px;
    background-color: rgb(5, 17, 46);
    display: flex;
    align-items: center;
}


/* footer css end */


@media (max-width : 900px){
    
    .clock{
        border-radius: 1rem;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
        background: rgba(217, 217, 217, 0.06);
        margin: 20px -10px;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
      .mainbd {
          background-color: #05112e;
      }
      .clock-canvas {
        background-color: #05112e;
        background-image: url(bg-texture.png);
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      }
      .clock-item .inner {
        height: 0px;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
      }
      .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
        position: absolute;
        top: 80%;
        width: 100%;
      }
      .val{
          color: #E83363;
          font-family: Barlow;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          margin-bottom: -5px;
          line-height: normal;
      }
      .type-time{
          color: #FFF;
          font-family: Barlow;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

    .cseLogo img{
        width: 150px;
        margin-bottom: 80px;
    }
    .Tinput input{
        width: 100%;
    }
    .time1{
        padding: 10px;
    }
    .time1 h3{
        color: #e83363;
        font-family: 'barlow';
    }
    .proE .card{
        min-height: 100%;
        max-height: 100%;
        padding: 10px 20px;
        border-radius: 1.2rem;
        background: hsla(0,0%,94%,.06);
        -webkit-backdrop-filter: blur(140px);
        backdrop-filter: blur(140px);
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.25);
        font-size: clamp(.875rem,.787rem + .376vw,1.125rem);
        line-height: 140%;
        color: #949aad;
        letter-spacing: .02em;
        text-align: justify;
        font-weight: 500;
    }


}
